* {
  font-family: "Questrial", sans-serif;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  background-image: url("./../assets/img/bg.jpg");
  background-position: 0, 0;
  background-repeat: no-repeat;
}

#game {
  background-color: #000f08;
}
p {
  color: white;
}

#main-title {
  color: white;
}

#card-1 {
  background-color: black;
  color: white;
}
#lives {
  color: black;
}
#score {
  color: black;
}

.card-text {
  color: black;
}
